.pageination {
    display: flex;
    flex-flow: row nowrap;
    padding: 0px;
    padding: 0;
    margin: 0 0 20px 0;
    justify-content: center;
}
.pageination > li {
    padding: 6px 10px;
    list-style: none;
    border-radius: 15px;
}
.disabled {
    background-color: #1D3557;
    color: white;
    border-radius: 10px;
    margin: 0 4px;
}
.page {
    background-color: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.separator {
    background-color: none;
    margin: 0 -8px;
}
