.advspace {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.advcard {
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  height: 200px;
  max-height: 479px;
  margin: 20px;
  position: relative;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 6px 0px #f28a2c;
  transition: all 0.3s ease;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
}
.advtext {
  display: flex;
  text-decoration: underline;
  text-decoration-color: #f28a2c;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 2em;
}
