.list--giveaways {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.giveaway--list--item {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  list-style: none;
  padding: 0;
  width: 20%;
  min-width: 250px;
  max-width: 300px;
  height: 479px;
  max-height: 479px;
  margin: 20px;
  position: relative;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.giveaway--list--item:hover,
.giveaway--list--item:focus {
  box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.3);
}

.remove-shadow {
  box-shadow: none;
  justify-content: center;
}
.remove-shadow:hover,
.remove-shadow:focus {
  box-shadow: none;
}
.loading {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1096px) {
  .giveaway--list--item {
    margin: 20px 10px;
  }
}
@media only screen and (max-width: 916px) {
  .giveaway--list--item {
    margin: 20px;
  }
}

@media only screen and (max-width: 816px) {
  .giveaway--list--item {
    margin: 20px 10px;
  }
}
@media only screen and (max-width: 776px) {
  .giveaway--list--item {
    margin: 20px;
  }
}
