{
  "env": {
    "development": {
      "presets": [["next/babel"]],
      "plugins": ["inline-react-svg"]
    },
    "production": {
      "presets": [["next/babel"]],
      "plugins": ["inline-react-svg"]
    },
    "test": {
      "plugins": [["transform-es2015-modules-commonjs"], ["inline-react-svg"]],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
