.giveawayCard--footer {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 10px;
}
.giveawayCard--footer .views--giveaway {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.giveawayCard--footer .last--winner {
    margin: 0;
    padding: 0;
    color: #f28a2c;
}
.giveawayCard--footer .views--giveaway .count {
    margin: 0 0 0 5px;
    padding: 0;
}
