.register {
  max-width: 640px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.title {
  text-align: center;
  padding: 10px;
  border-bottom: #1d3557 1px solid;
}
.register--form {
  margin-top: 30px;
}
.social--icons {
  display: flex;
  flex-flow: row nowrap;
  width: 275px;
  justify-content: space-between;
  align-content: center;
  margin: auto;
}
.social--icons img {
  cursor: pointer;
}
.input--group {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  padding: 10px;
  position: relative;
}
label {
  position: absolute;
  top: 35%;
  left: 15px;
  transition: all 0.25s ease-in-out;
}
input:hover + label,
input:focus + label {
  top: -25% !important;
  color: #1d3557;
}
.input--filled {
  top: -25%;
  color: #1d3557;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 35px;
  font-size: 25px;
  padding: 0 5px;
}
