.register {
  max-width: 640px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.title {
  text-align: center;
  padding: 10px;
  border-bottom: #1d3557 1px solid;
}
.switch--type {
  display: flex;
  align-self: center;
  width: 120px;
}
