.giveawayCard {
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none !important;
}

.giveawayCard--header {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 265px;
}
.giveawayCard--header .image {
  margin: 20px auto;
  height: 160px;
  width: 160px;
}

.giveawayCard--itemName {
  background: #1d3557;
  color: white;
  height: 45px;
  font-size: 17px;
  padding: 10px 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: block;
  display: -webkit-box;
}

.giveawayCard--body {
  /* border-top: 1px solid #457b9d; */
}
.giveawayCard--category {
  text-align: center;
  color: black;
  padding: 6px 2px 8px 2px;
}
.giveawayCard--footer {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 10px;
}
.giveawayCard--footer .views--giveaway {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.giveawayCard--footer .last--winner {
  margin: 0;
  padding: 0;
  color: #f28a2c;
}
.giveawayCard--footer .views--giveaway .count {
  margin: 0 0 0 5px;
  padding: 0;
}
.giveawayCard--actions {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.giveawayCard--actions .save--giveaway--btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: inherit;
  border: 0;
  color: inherit;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  cursor: pointer;
}
.giveawayCard--actions .save--giveaway {
  width: 40px;
  height: 40px;
}
.giveawayCard--actions .save--giveaway {
  transition: filter 0.3s ease;
  filter: drop-shadow(0px 0px 2px rgba(230, 57, 70, 0.7));
}
.giveawayCard--actions .save--giveaway:hover {
  filter: drop-shadow(0px 0px 10px rgba(230, 57, 70, 0.7));
}

.groupItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.groupItem--alternative {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  line-height: 1.5;
  position: relative;
}
.groupItem--alternative::after {
  content: "";
  position: absolute;
  top: -1px;
  background: rgba(69, 123, 157, 0.05);
  width: 105%;
  overflow: hidden;
  height: 100%;
  left: -2%;
}
.groupItem--alternative p {
  margin: 0;
  padding: 0;
}

.highlighted {
  color: rgb(69, 123, 157);
}
.around {
  justify-content: space-around;
}
.groupItem p {
  margin: 0;
  padding: 0;
}
.groupItem .item,
.groupItem--alternative .item {
  font-weight: bold;
}
