.giveawayCard {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  min-width: 230px;
  max-width: 300px;
  height: 523px;
  margin: 20px 10px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.giveawayCard:hover,
.giveawayCard:focus {
  box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.3);
}
.giveawayCard--header {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 265px;
}
.giveawayCard--itemName {
  background: #1d3557;
  color: white;
  height: 45px;
  font-size: 17px;
  padding: 10px 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 1px;
}
.giveawayCard--header .image {
  margin: 20px auto;
  height: 160px;
  width: 160px;
}
.giveawayCard--body {
  /* border-top: 1px solid #457b9d; */
}
.giveawayCard--category {
  text-align: center;
  color: black;
  padding: 6px 2px 8px 2px;
}
.giveawayCard--footer {
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.giveawayCard--footer .views--giveaway {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.views--giveaway .count {
  margin-left: 5px;
}
.giveawayCard--footer .save--giveaway,
.giveawayCard--footer .enter--giveaway {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.groupItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.groupItem--alternative {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  line-height: 1.5;
  position: relative;
}
.groupItem--alternative::after {
  content: "";
  position: absolute;
  top: -1px;
  background: rgba(69, 123, 157, 0.05);
  width: 105%;
  overflow: hidden;
  height: 100%;
  left: -2%;
}
.groupItem--alternative p {
  margin: 0;
  padding: 0;
}

.highlighted {
  color: rgb(69, 123, 157);
  text-shadow: 1px 1px rgba(69, 123, 157, 0.3);
}
.around {
  justify-content: space-around;
}
.groupItem p {
  margin: 0;
  padding: 0;
}
.groupItem .item,
.groupItem--alternative .item {
  font-weight: bold;
}
@media only screen and (max-width: 548px) {
  .giveawayCard {
    max-width: 100%;
    width: 100%;
  }
}
