.form {
  margin-top: 30px;
  position: relative;
}

.title {
  text-align: center;
  padding: 10px;
  border-bottom: #1d3557 1px solid;
}

.input--group {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  padding: 10px;
  position: relative;
}
.input--group label {
  position: absolute;
  top: 35%;
  left: 15px;
  transition: all 0.25s ease-in-out;
}
.input--group input:hover + label,
.input--group input:focus + label {
  top: -25% !important;
  color: #1d3557;
}
.input--group .input--filled {
  top: -25%;
  color: #1d3557;
}



