.giveawayContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 75%;
  padding: 10px;
  overflow: hidden;
}
.title {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 1040px) {
  .giveawayContainer {
    width: 100%;
    padding-bottom: 145px;
  }
}
