.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 50px;
  border-top: 1px solid #a8dadc;
}
.navigation .nav--item {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  background: #457b9d;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  position: relative;
}

.navigation .nav--item:hover {
  background: #a8dadc;
}
.navigation .nav--item:hover a {
  color: black;
}
.navigation .nav--item.active {
  background: #1d3557;
  box-shadow: 0 2px 3px #1d3557;
}
.navigation .nav--item.active:hover a {
  color: #fdfefd;
}
.navigation .nav--item a {
  color: #fdfefd;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 976px) {
  .navigation {
    flex-flow: column wrap;
    height: 0;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    transition: height 0.25s ease-in-out;
  }
  .navigation.opened {
    height: 300px;
  }
  .navigation .nav--item {
    height: 50px;
  }
}
