.fab {
  display: none;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  position: fixed;
  right: 20px;
  bottom: 65px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  z-index: 5;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  background: #a8dadc;
}
@media only screen and (max-width: 560px) {
  .fab {
    display: flex;
    align-items: center;
  }
}
