.giveawayCard--header {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 265px !important;
}

.giveawayCard--itemName {
  background: #1d3557;
  color: white;
  height: 45px;
  font-size: 17px;
  padding: 10px 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  display: block;
  display: -webkit-box;
}
