.filterContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  background: #fff;
  width: 25%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: 30px 10px;
  min-width: 200px;
  max-width: 200px;
  transition: left 0.25s ease-in-out;
  z-index: 5;
  top: 20px;
  height: 750px !important;
  position: sticky;
}

@media only screen and (max-width: 1040px) {
  .filterContainer {
    position: absolute;
    height: 100% !important;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    margin: 0;
  }
  .filterContainer.off-screen {
    left: 0;
  }
}
.filterGroup {
  display: flex;
  flex-flow: column nowrap;
}
.filterTitle {
  border-bottom: 1px solid #1d3557;
}
.title {
  text-align: center;
}
.input--group {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 10px;
  width: 100%;
}
