.alert {
  position: fixed;
  top: 75px;
  right: 10px;
  padding: 5px 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  z-index: 11;
  opacity: 1;
  cursor: default;
}
.primary {
  background: #1d3557;
  color: #fdfefd;
}
.danger {
  color: #111111;
  background: rgb(230, 57, 70);
}
.info {
  color: #111111;
  background: #a8dadc;
}
.hide {
  opacity: 0;
}
